.basics
  .basics__frame

    .iamge__box
      .image__box__main

      .image__box__subframe
        .image__box__subfeame__box

    .name__box
      -# = @dog.name
    
    .introduction__box

    .table
      %table
        %caption 詳細
        %tbody
          %tr
            %th 種類
            %td a

          %tr
            %th 年齢
            %td a

          %tr
            %th 性別
            %td a

          %tr
            %th 健康状態
            %td a

    .comment__box
      %text_area

    .comment__box__note
      %p
        不快なコメントは退会処分になる事があります。

    