.basics
  .basics__frame
    .basics__frame__box
      .basics__frame__box__title
        %h3 詳細ページ

    .image__box
      .image__box__main

      .image__box__sub
        .image__box__sub__frame
          .image__box__sub__frame__box

    .introduction__box
      .introduction__box__name
        %h3 紹介
      .introduction__box__comment


    .table
      %table
        %tbody
          %tr
            %th 名前
            %td a

          %tr
            %th 種類
            %td a

          %tr
            %th 年齢
            %td a

          %tr
            %th 性別
            %td a

          %tr
            %th 健康状態
            %td a

    .comment__box
      %text_area

    .comment__box__note
      %p
        不快なコメントは退会処分になる事があります。

    