.main
  .main__content
    .main__content__itembox
      %h3.main__content__itembox__name
        削除が完了しました
      .main__content__itembox_retarn_btn
        = link_to 'もどる', root_path, class: "main__content__itembox__comment__btn"