.main
  .header
    .header__left
      .header__left__box
        %h2.header__left__box__title
          One Dog 里親募集

    .header__center
      .header__center__box
        .header__center__box__text
          -# %P 里親募集

    .header__right
      .header__right__box
        %ul.header__right__box__list
          %li.header__right__box__list__link
            %a.header__right__box__list__link__(href='#')
              ログイン

        %ul.header__right__box__list
          %li.header__right__box__list__link
            %a.header__right__box__list__link__(href='#')
              新規登録

        %ul.header__right__box__list
          %li.header__right__box__list__link
            %a.header__right__box__list__link__(href='#')
              検索

  .content
    .content__image
      = link_to image_tag("fd91d63fa421d122a857dcf597553e80.jpg", class: "top__image", alt: "イメージ画像")

