.container {
  width: 100vw;
  height: 100vh;

  &__block {
    background-color: whitesmoke;
  }

    &__header {
    }

    &__Content {
      margin: auto;
      max-width: 800px;
      &__title {
        margin: auto;
      }
    }
    .a {
      max-width: 800px;
      margin: auto;
      padding: 10px;
    }
      .container__content__photo {
        &__text{
          font-size: 20px;
          margin-left: 10px;
          margin-bottom: 10px;
        }
        &__comment {
        }
      }
      .photobox {
        // flex-direction: row;
        display: flex;
        position: relative;
        // display: block;
        // justify-content: center;
        // align-items: flex-end;
        margin: auto;
        max-width: 800px;
        height: 200px;
        border: 1px dashed;
        background-color: white;
        overflow: auto;
      }
      .image__box {
        // display: flex;
        position: absolute;
        height: 200px;
      }
      .messages__dog{
        color: red;
      }
      .js-remove {
        width: 165px;
        margin-top: auto;
        margin-left: 1px;


      }
      .introduction__form {
        width: 80vw;
        max-width: 800px;
        height: 150px;
      }

    &__contents {
      max-width: 40vw;
      padding: 30px;
      margin: auto;
      &__title {
        max-width: 80vw;
      
      }
    }
      
      .dog__text {
        margin-bottom: 5px;
      }
      .dog__form {
        margin: auto;
        width: 40vw;
        height: 40px;
        font-size: 20px;
      }
      .container__content__btn {
        display: flex;
        justify-content: center;
      }
        .dog__btn {
          background-color: lightcoral;
          width: 250px;
          height: 80px;
          font-size: 30px;
        }
    }
